
data/twitter_auth_priv.txt
corpus_cast.ipynb
.ipynb_checkpoints/
data/txts/
data/jsons/gigi_transcripts.json
data/jsons/gigi_tweets.json
data/jsons/mystery.json
data/jsons/scifi.json
data/jsons/test.json
data/jsons/emma-scifi.json
data/jsons/emma.json
__pycache__/_managers.cpython-38.pyc
